body {
    text-align: center;
    background-color:#fee2e2;

    color: #f472b6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2, h3 {
    color: #9d174d;
}

header {
    background-color: #fecaca;
}